exams/
books/
temp/
.idea/
.vscode/
lectures/_minted/
bin/
include/
lib/
share/

*.minted
*.aux
*.nav
*.out
*.log
*.snm
*.toc
*.vrb
*.swp
*.tmp
*.fls
*.xdv
*.fdb_latexmk
.DS_Store
src/linalg/bin
src/linalg/lib
src/linalg/include
src/linalg/share

